@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
    overflow: hidden;
}
/* header - Section ( N a v b a r ) */
.header{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 8%;
    background: #1AC073;
    color: white;
}
.navbar{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    top: 3rem;
}
.logo {
    margin-right: auto;
}
.logo h1{
    font-size: 40px;
    font-family: 'Squada One';
}
.nav-option{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 12%;
    margin-top: 2%;
}
.nav-option li{
    list-style-type: none;
    padding:0 30px;
    font-size: 22px;
}
.searchcart{
    margin-left:  auto;
    margin-right: auto;

    display : right;
}
.searchcart img{
    padding-right: 60px; 
}
/* landing section */
.landing_section{
    display: flex; 
    background-color: #1AC073;
    color: white;
    width: 100%;
    height: 100;
}
.landing_content{
    float: left;
    width: 40%;
    margin-left: 8%;
    margin-top: 18%;
    overflow: hidden;
}
.landing_content h1{
    font-size: 88px;
}
.landing_content p{
    width: 70%;
    font-size: 18px;
    margin-bottom: 3.2rem;
    letter-spacing: 1px;
    margin-top: 20px;
}
.landing_content input{
    border-radius: 10px;
    width: 49%;
    height: 11%;
    font-size: 18px;
    border: none;
    padding: 20px;
}
.landing_content button{
    background: #F3BA00;
    color: white;
    width: 19%;
    height: 11%;
    border: none;
    position: relative;
    left: -12px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cookingimage{
    margin-top: 17.3%;
    margin-left: 1.7%;
}
.cookingimage img{
    width: 810px;
    height: 748px;
}

/* kitchen section */

